version: '3.8'

networks:
  quote-network:
    driver: bridge

volumes:
  app-logs:
  app-uploads:
  nginx-logs:

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile  # 后端 Dockerfile
    restart: always
    networks:
      - quote-network
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - FRONTEND_URL=${FRONTEND_URL}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - EMAIL_FROM=${EMAIL_FROM}
      - ENABLE_QUOTE_EMAIL_NOTIFICATIONS=${ENABLE_QUOTE_EMAIL_NOTIFICATIONS}
      - MAILGUN_API_KEY=${MAILGUN_API_KEY}
      - MAILGUN_DOMAIN=${MAILGUN_DOMAIN}
      - UPLOAD_PATH=${UPLOAD_PATH}
      - MAX_FILE_SIZE=${MAX_FILE_SIZE}
    volumes:
      - app-logs:/app/logs
      - app-uploads:/app/uploads
    expose:
      - 3000

  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    depends_on:
      - backend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt   # SSL 证书挂载
      - nginx-logs:/var/log/nginx
    restart: always
    networks:
      - quote-network
    ports:
      - "80:80"
      - "443:443"
